$bmppBorderColor: rgba(34, 36, 38, .15);
$green: #21ba45;
$darkGreen: #2c662d;
$teal: #009c95;
$tealBlue: #276f86;
$blue: #2185d0;
$cyan: #f8ffff;
$lightGrey: #ccc;
$grey: #767676;
$red: #db2828;
$darkRed: #9f3a38;
$black: #1c1b1d;
$borderWidth: 0.3em;
$sidePaneWidth: 14vw;
$mainWaitWidth: calc(100vw - $sidePaneWidth - $borderWidth);
$videoWidth: 342px;
$videoHeight: 193px;

.bmpp-uiLayout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.bmpp-main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  padding-bottom: 3em;
  position: relative;

  &.no-pad {
    overflow-y: hidden;
    padding: 0;
  }
}

#bmpp-mainWait {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: $mainWaitWidth;
  height: 100vh;
  z-index: 1001;
  border-left: $borderWidth solid transparent!important;

  & .button {
    $colorChannels: 219, 40, 40;
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgba($colorChannels, 0.5) !important;
    box-shadow: 0 0 0 1px rgba($colorChannels, 0.5) inset!important;
    transition: color .3s ease,
                box-shadow .3s ease;
    z-index: 1005;
    position: absolute;
    top: calc(50% + 4em);

    &:hover,
    &:focus {
      color: rgba($colorChannels, 1) !important;
      box-shadow: 0 0 0 1px rgba($colorChannels, 1) inset!important;
    }
  }

  & .negative.message {
    padding-right: 2.5em;

    & a:link,
    & a:visited,
    & a:hover,
    & a:focus {
      color: inherit;
      display: inline-block;
      border-bottom: 1px dotted $darkRed;
    }
  }
}

.bmpp-sidePane {
  order: 0;
  width: $sidePaneWidth;
  min-width: 13rem;
  border-left: 1px solid $bmppBorderColor;
  border-right: 1px solid $bmppBorderColor;
  overflow-y: hidden;

  &_menuItem {
    user-select: none;
    padding: 1em 1.5em!important;
    border-bottom: 1px solid $bmppBorderColor;
    border-right: $borderWidth solid transparent!important;
    cursor: pointer;
    &.disabled {
      cursor: auto;
    }
    &--current {
      border-right: $borderWidth solid rgba(34, 36, 38, .25)!important;
      background-color: rgba(250, 250, 250, .75) !important;
    }
    &--hover,
    &--hover&--current {
      border-right: $borderWidth solid $grey!important;
      background-color: rgba(250, 250, 250, .75) !important;
    }
    &--hover.disabled,
    &--hover&--current.disabled {
      border-right: $borderWidth solid transparent!important;
      background-color: transparent!important;
    }
    & .icon {
      position: absolute;
      right: 1em;
    }
    & .label {
      position: absolute;
      right: 2em;
      font-size: 0.7em;
      color: grey;
      &.currentResults {
        color: green;
        font-weight: bold;
      }
    }
  }
  &_searchButton {
    margin-left: 0.3em !important;
  }
}

.bmpp-paddedPane {
  width: 55em;
  margin: 3em auto auto 6em !important;
}

.bmpp-propertiesPane,
.bmpp-relationsPane {
  $buttonsHeight: 4.4em;
  $dividerHeight: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & .bmpp-paneProps {
    height: calc(100vh - $buttonsHeight - $dividerHeight);
    overflow-y: scroll;
    overflow-x: hidden;

  }
  & .bmpp-paneDivider {
    height: $dividerHeight;
    border-bottom: 1px solid rgba(34, 36, 38, .05);
  }
  & .bmpp-paneButtons {
    height: $buttonsHeight;
    padding: 1em 0 0 6em;
    box-sizing: border-box;
  }
}

.bmpp-resultsOptionsPane {
  width: 55em;
  margin: 3em auto auto 6em !important;
}

.bmpp-nearLabelIcon {
  margin: 0;
  padding: 0;
  position: absolute;
  right: .2em;
  top: .8em;
}

.bmpp-resultsPane {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  &_video {
    border-bottom: 1px solid $bmppBorderColor;
    background-color: white;
    display: flex;
    height: $videoHeight !important;
    flex: 0 0 auto;
    overflow: hidden;
  }
  &_results {
    overflow-y: scroll;
  }
}

#bmpp-videoPlayer {
  flex: 0 0 auto;
  position: relative;
  width: $videoWidth;
  height: $videoHeight;
}

.plyr--video {
  width: $videoWidth;
  height: $videoHeight;

  & .plyr__control.plyr__tab-focus,
  & .plyr__control:hover,
  & .plyr__control[aria-expanded=true] {
    background-color: green;
  }
}
.plyr--full-ui input[type=range] {
  color: green;
}
.plyr__control.plyr__control--overlaid {
  background-color: green;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background-color: green;
}
.plyr__video-wrapper {
  padding-bottom: $videoHeight !important;
}
.plyr--video video {
  background: radial-gradient(
    ellipse at top right,
    rgba(0,120,0,1) 0%,
    rgba(0,36,0,1) 100%);
}

.bmpp-videoCurtain {
  position: absolute;
  top: -1em;
  bottom: -1em;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,1);
  background: radial-gradient(
    ellipse at top right,
    rgba(0,120,0,1) 0%,
    rgba(0,36,0,1) 100%);
  z-index: 1001;
}

#bmpp-videoLoader {
  z-index: 10001;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.5em 0 0 -1.5em;
  width: 3em;
  height: 3em;
  animation: segment-spin .6s linear;
  animation-name: segment-spin;
  animation-duration: .6s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-iteration-count: infinite;
  border-radius: 100rem;
  border-width: .25em;
  border-style: solid;
  border-color: #ffcc00 #880088 #008800 #008800cc;
}

.bmpp-resultsInfo {
  max-width: 40em;
  padding: 0.7em 1em;
  font-size: smaller;
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(255,255,255,1) 0%,
      rgba(255,255,255,1) 40%,
      rgba(255,255,255,0) 100%
    );
  }
}

.bmpp-videoChoices {
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid $bmppBorderColor;

  & div {
    border-bottom: 1px solid $bmppBorderColor;
    flex: 1 0 auto;
    display: flex;
    font-size: x-small;
    padding: 0 0.66em 0 1em;
    white-space: nowrap;
    align-items: center;
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.01em;

    &:last-of-type {
      border-bottom: none;
    }

    &.disabled {
      color: $bmppBorderColor;
      cursor: auto;
    }
    &:not(.disabled):not(.current):hover {
      background-color: $bmppBorderColor;
    }
    &.current {
      background-color: green;
      border-bottom-color: green;
      color: white;
      font-weight: bold;
      letter-spacing: 0.05em;
    }
  }
}

.bmpp-queryPane {
  display: flex;
  flex: 1 0 auto;
  overflow: hidden;
}

.bmpp-query {
  max-width: 70em;
  padding: 3em 7em 0 0;
  flex: 1 0 auto;
  order: 1;
}

.bmpp-queryTree {
  order: 0;
  width: 9em;
  flex: 0 0 auto;
}

.bmpp-queryElement {
  min-height: 8em;
}

.bmpp-number {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin-right: 1em;

  & label {
    margin-right: 1em;
  }

  & input {
    padding-right: 2.5em !important;
  }

  & .bmpp-numberControls {
    display: none;
  }

  &:hover .bmpp-numberControls {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    right: 0;
    top: 0.1em;
    position: absolute;

    & .icon {
      width: 2.5rem;
      height: 1.25rem;
      transition: opacity .3s ease,
                  font-size .1s ease !important;
      position: absolute;
      overflow: hidden;

      &:hover {
        font-size: large !important;
      }

      &.sort.down {
        top: 50%;
      }

      &::before {
        position: absolute;
        top: 5%;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 0!important;
      }

      &.sort.up::before {
        bottom: 5%;
        top: 95%;
      }
    }
  }
}

.bmpp-relationsFormula1 {
  $x: 1em;
  $x2: 1.5em;
  $color: rgba(212, 212, 212, 0.2);
  margin: calc($x - $x) 1em;
  position: relative;
  padding: calc(1em + $x) $x2 calc(2.6em + $x);
  background-color: $color;

  & .bmpp-relationsEdit {
    position: absolute;
    bottom: calc(0.8em + $x);
    left: 0.2em;

    & .bmpp-editUrl {
        margin-left: $x2;
    }
  }
}
.bmpp-relationsFormula2 {
  position: relative;
  margin-top: 5em;
  padding-top: 1em;

  &:before {
    $height: 3em;
    position: absolute;
    left: 0;
    right: 0;
    top: -$height;
    height: $height;
    content: '';
    background: linear-gradient(0deg, $color 0%,
                                      color($color a(0)) 100%);
  }
}

.bmpp-subcorpusForm {
  height: 12em;

  & header {
    cursor: pointer;
    user-select: none;
  }
  & .ui.form {
    column-count: auto !important;
    column-width: 10rem !important;
  }
}

.bmpp-unitGroups {
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    font-style: italic;
    margin: 0;
    break-inside: avoid;
  }
}

.bmpp-units {
  list-style: none;
  margin: 0.5em 0 1.5em;
  padding: 0;
  & li {
    font-style: normal;
    line-height: 1.5em;
    cursor: pointer;

    & .unit {
      border-bottom: 1px dotted $blue;
      color: $blue;
    }
    & .unitSelectionContainer {
      padding: 0 0.5em 0.2em;
    }
    &.active .unit {
      border-bottom: none;
      color: white;
    }
    &.active .unitSelectionContainer {
      background-color: $blue;
    }
  }
}

.bmpp-channelSlug {
  width: 6em!important;
}

.bmpp-editUrl {
  font-size: smaller;
  border-bottom: 1px dotted $blue;
  color: $blue;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.bmpp-valueList {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    margin-bottom: 0.5em;
  }

  & .bmpp-valueList {
    padding: 0.7em 0 0.5em 1.7em;
  }
}

.bmpp-listItemValue {
  color: $darkGreen;
  padding: 0 0.1em;
}

.bmpp-editableListItem {
  display: block !important;
  margin: 0.7em 0 0 2.4em;
}

.bmpp-propertyHeader,
.bmpp-relationHeader {
  user-select: none;

  &.clickable {
    cursor: copy;
  }
  & .ui.circular.label {
    background-color: $lightGrey;
  }
}

.bmpp-bannerPropname {
  color: grey;
  font-style: italic;
}

.bmpp-bannerText {
  color: grey;
}

.bmpp-bannerPropvalue {
}

.bmpp-searchResult {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  column-gap: 0.66em;
  align-items: baseline;

  & .divider {
    grid-column: 1 / span 5;
    border: none;
    border-top: 1px solid $bmppBorderColor;
    padding: 0.5em 0 0 0;
    margin: 0.5em 0 0 0;
  }
  & .bmpp-recordLabel {
    position: sticky !important;
    top: 1em;
    grid-column: 5;
  }
  & .bmpp-unitValue {
    text-align: right;
    color: green;
    font-size: smaller;
    cursor: pointer;
    grid-column: 3;
  }
  & .bmpp-transcription {
    cursor: pointer;
    padding-right: 7em;
    grid-column: 4;
  }
  & .bmpp-context {
    color: grey;
    cursor: auto !important;
  }
  & .bmpp-time,
  & .bmpp-duration {
    font-size: smaller;
    color: grey;
    text-align: right;
    cursor: auto;
  }
  & .bmpp-time {
    grid-column: 1;
  }
  & .bmpp-duration {
    grid-column: 2;
  }
}

.bmpp-unitTypeAndGroup {
  position: relative;

  & .bmpp-unitType {
    position: relative;
    left: 0.5em;
    bottom: auto;
    white-space: nowrap;
    font-weight: normal !important;
  }
  & .bmpp-unitTypeWithGroup {
    position: absolute;
    bottom: -0.5em;

    header & {
      bottom: -0.4em;
    }
  }
  & .bmpp-unitTypeGroup {
    color: grey;
    font-variant: small-caps;
    font-size: smaller;
    font-weight: normal !important;
    white-space: nowrap;
    position: absolute;
    top: -1em;
    left: 0.75em;

    header & {
      font-size: x-small;
      top: -1em;
      left: 1em;
    }
  }
}

.bmpp-relationBanner {
  background-color: $cyan;
  color: $tealBlue;
  margin: -1.5em -1em 0;
  padding: 1.2em 1em 1.5em;
  position: relative;

  &::after {
    $height: 1.5em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -$height;
    height: $height;
    content: '';
    background: linear-gradient(180deg, $cyan 0%,  /* ##grad## */
                                        color($cyan a(0)) 100%);
  }

  & .ui.circular.label {
    color: $tealBlue;
    background-color: transparent;
    border: 1px solid $tealBlue;
    padding: 0.4em 0 0 !important;
  }
}

search-unit-property .ui.circular.label,
search-unit-relation .ui.circular.label {
}

relations-formula .ui.circular.label {
    color: color($black a(0.4));
    background-color: transparent;
    border: 1px solid color($black a(0.4));
    padding: 0.4em 0 0 !important;
}

.bmpp-unitsRadioButtons {
  position: relative; /* Необходимо для того, чтобы градиент ##grad## был под
    кнопками, а не поверх них. */
}

.bmpp-relation {
  margin-bottom: 1em !important;
}
.bmpp-relationItem {
  padding-top: 1.5em !important;
}

.ui.basic.icon.button {

  &.bmpp-addButton {
    position: absolute;
    right: 0.1rem;
    bottom: 0.2rem;
    box-shadow: 0 0 0 1px $lightGrey inset!important;

    & .icon {
      color: $lightGrey !important;
    }

    &:hover {
      box-shadow: none !important;
      background-color: $tealBlue !important;
      opacity: 0.8;

      & .icon {
        color: white !important;
      }
    }

    .bmpp-queryElement & {
      right: 1rem;
      bottom: 0.5rem;
    }
  }

  &.bmpp-removeButton {
    position: absolute;
    right: 0.05rem;
    top: 1rem;
    box-shadow: none !important;
    background-color: transparent !important;

    & .icon {
      color: $lightGrey !important;
    }

    &:hover .icon {
      color: $red !important;
    }

    &.bmpp-removeButton1 {
      top: 3.5rem;
    }

    .bmpp-queryElement & {
      top: 0.7rem;
      right: 0.4rem;
    }
  }
}
