$bmppBorderColor: rgba(34, 36, 38, .15);
$green: #21ba45;
$blue: #2185d0;

.bmpp-curtains {
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bmpp-uiLayout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.bmpp-sidePane {
  order: 0;
  width: 14vw;
  min-width: 13rem;
  border-left: 1px solid $bmppBorderColor;
  border-right: 1px solid $bmppBorderColor;
  overflow-y: hidden;

  &_menuItem {
    user-select: none;
    padding: 1em 1.5em!important;
    border-bottom: 1px solid $bmppBorderColor;
    cursor: pointer;
    &--current {
      border-right: 0.3em solid $green!important;
      color: $green;
      font-weight: bold;
    }
    & .icon {
      position: absolute;
      right: 1em;
    }
    &.disabled {
      cursor: auto;
    }
  }
  &_searchButton {
    margin-left: 0.3em !important;
  }
}

.bmpp-main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  padding-bottom: 3em;
}

.bmpp-subcorpusPane {
  width: 55em;
  margin: 3em auto auto 6em !important;
}

.bmpp-resultsOptionsPane {
  width: 55em;
  margin: 3em auto auto 6em !important;
}

.bmpp-nearLabelIcon {
  margin: 0;
  padding: 0;
  position: absolute;
  right: .2em;
  top: .8em;
}

.bmpp-resultsPane {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &_video {
    border-bottom: 1px solid $bmppBorderColor;
    background-color: #eee;
  }
  &_results {
    overflow-y: scroll;
  }
}

.bmpp-videoChoices {
}

.bmpp-queryPane {
  display: flex;
  flex: 1 0 auto;
}

.bmpp-query {
  max-width: 70em;
  padding: 3em 7em 0 0;
  flex: 1 0 auto;
  order: 1;
}

.bmpp-queryTree {
  order: 0;
  width: 9em;
}

.bmpp-queryElement {
  min-height: 10em;
}

.bmpp-queryTreeHandles {
  position: absolute;
  right: auto;
  left: 100%;
  top: 0.45em;
  width: 6em;
  padding-left: 1em;

  & .ui.icon {
    cursor: pointer;
  }
  &.bmpp-queryTreeHandles2 {
    left: calc(100% + 1em);
  }
}

.bmpp-queryDistances {
  margin: 1em auto !important;
  position: relative;

  &--toOtherElement {
    margin-top: 3em !important;
  }

  .bmpp-queryDistance {
    min-height: 4em;

    & .ui.form {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;

      & .field {
        margin-right: 1em;
        &.bmpp-number {
          min-width: 8em !important;
          max-width: 9em !important;
        }
        &.bmpp-units {
          width: 8em !important;
        }
        &.bmpp-points {
          width: 14em !important;
        }
      }

      & .bmpp-units .text {
        border-bottom: 1px grey dashed !important;
      }

      & input[type="number"] {
        width: 6em !important;
      }

      & .ui.selection.dropdown {
        height: 2em !important;
        padding-top: .5em !important;
      }
    }
  }

  .bmpp-queryDistanceHelp {
    position: absolute;
    top: 1em !important;
    right: .5em !important;
  }
}

.bmpp-subcorpusForm {
  height: 12em;

  & header {
    cursor: pointer;
    user-select: none;
  }
}

.ui.popup {
  min-width: 20em !important;
}

.bmpp-unitGroups {
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    font-style: italic;
    margin: 0;
    break-inside: avoid;
  }
}

.bmpp-units {
  list-style: none;
  margin: 0.5em 0 1.5em 0.5em;
  padding: 0;
  & li {
    font-style: normal;
    line-height: 1.5em;
    cursor: pointer;

    & span {
      border-bottom: 1px dotted $blue;
      color: $blue;
    }
  }
}
